:root {
  --lightgrey: #f5f5f5;
  --red: #fd6c6c;
  --green: #64ceaa;
  --blue: #70b7fd;
  --text: #222;
  --border: #ccc;
}

#app {
  @include flexbox(column, nowrap, flex-start, center);

  color: var(--text);
  font-size: fontSize();

  .title {
    width: 95%;
    font-weight: normal;
  }

  .demo {
    margin-bottom: torem(20px);

    &.demo--carousel {
      width: 100%;
      height: torem(320px);
    }

    &.demo--carousel-lite {
      @include flexbox(row, nowrap, space-around, stretch);

      width: 100%;
      height: torem(200px);
    }

    &.demo--panel,
    &.demo--image-loader {
      width: 85%;
    }

    &.demo--menu {
      position: relative;
      width: 85%;
      height: torem(100px);
    }
  }
}

.app {
  &.app--carousel,
  &.app--carousel-lite {
    @include flexbox(column, nowrap, flex-start, center);

    // 设置banner
    .slide-banner {
      &:nth-child(1) {
        background-color: var(--blue);
      }

      &:nth-child(2) {
        background-color: var(--green);
      }

      &:nth-child(3) {
        background-color: var(--red);
      }
    }
  }

  &.app--carousel {
    width: 100%;
    height: 100%;

    .step {
      .step__btn {
        position: absolute;
        top: 50%;
        width: torem(40px);
        height: torem(40px);
        color: var(--text);
        background-color: var(--white, #fff);
        border: 0;
        border-radius: 50%;
        margin-top: torem(-20px);
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &.step__btn--l {
          left: torem(10px);
        }

        &.step__btn--r {
          right: torem(10px);
        }
      }
    }
  }

  &.app--carousel-lite {
    flex: 0 0 48%;
  }

  &.app--carousel,
  &.app--carousel-lite {
    .jump {
      @include flexbox(row, nowrap, center, center);

      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: torem(42px);

      .jump__btn {
        width: torem(12px);
        height: torem(12px);
        background-color: var(--lightgrey, #d3d3d3);
        border-radius: 50%;
        margin: 0 torem(5px);
        overflow: hidden;

        &:focus {
          outline: none;
        }

        &.jump__btn--active {
          background-color: var(--grey, #808080);
        }
      }
    }
  }

  &.app--btns {
    @include flexbox(row, wrap, flex-start, flex-start, flex-start);

    .btn {
      margin: torem(5px);
    }
  }

  &.app--menu {
    &.menu {
      @include flexbox();

      width: 100%;
      border-bottom: 1px solid var(--border);

      .menu__anchor {
        flex: 0 0 auto;
        margin-right: torem(3px);
        margin-bottom: -1px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        .menu__item {
          font-size: fontSize();
          line-height: 1.5;
          background-color: transparent;
          border: 1px solid transparent;
          border-radius: torem(4px) torem(4px) 0 0;
          padding: torem(10px) torem(15px) torem(9px);
          pointer-events: none;
        }

        .menu__page {
          position: absolute;
          top: torem(42px);
          right: 0;
          bottom: 0;
          left: 0;
          line-height: torem(24px);
          list-style: decimal inside;
          background-color: var(--white, #fff);
          padding: torem(5px) torem(10px);
          margin: 0;
        }

        &:not(.menu__anchor--active) {
          .menu__page {
            @extend %visuallyhidden;
          }
        }

        &.menu__anchor--active {
          cursor: default;

          .menu__item {
            background-color: var(--white, #fff);
            border-color: var(--border) var(--border) transparent var(--border);
          }
        }
      }
    }
  }

  &.app--loaders {
    @include flexbox(row, wrap, center, flex-start);

    .image-loader {
      width: 100%;
      margin: 0 torem(5px) torem(5px);
    }

    @media only screen and (min-width: 405px) {
      .image-loader {
        width: 405px;
      }
    }
  }
}

.modal {
  .modal__dialog--switching {
    @extend .modal__dialog--loading; /* stylelint-disable-line scss/at-extend-no-missing-placeholder */
  }

  .close {
    display: none;
    position: absolute;
    top: torem(20px);
    right: torem(20px);
    text-decoration: none;

    &.close--active {
      display: block;
    }
  }
}
