<div id="app">
  <h1 class="title">zp-ui</h1>

  <!-- Carousel -->
  <div class="demo demo--carousel"></div>
  <!-- Carousel精简版 -->
  <div class="demo demo--carousel-lite"></div>

  <!-- Panel -->
  <div class="demo demo--panel">
    <div class="panel panel--black">
      <div class="panel__head">Header</div>
      <div class="panel__body">Body</div>
    </div>
  </div>

  <!-- Btns -->
  <div class="demo">
    <div class="app app--btns">
      <button class="btn btn--green" data-trigger="loading">Loading</button>
      <button class="btn btn--blue" data-trigger="prompt">提示信息</button>
      <button class="btn btn--red" data-trigger="switching">1.5s切换</button>
      <button class="btn" data-trigger="prevent">default</button>
      <button class="btn" data-trigger="switching" disabled>disabled</button>
    </div>
  </div>

  <!-- Menu -->
  <div class="demo demo--menu"></div>

  <!-- ImageLoader -->
  <div class="demo demo--image-loader"></div>
</div>
