<div class="modal modal--mask" data-group="main">
  <div class="modal__dialog modal__dialog--loading">
    <div class="loading">
      <span class="loading__circle loading__circle--1"></span>
      <span class="loading__circle loading__circle--2"></span>
      <span class="loading__circle loading__circle--3"></span>
      <span class="loading__circle loading__circle--4"></span>
      <span class="loading__circle loading__circle--5"></span>
      <span class="loading__circle loading__circle--6"></span>
      <span class="loading__circle loading__circle--7"></span>
      <span class="loading__circle loading__circle--8"></span>
      <span class="loading__circle loading__circle--9"></span>
      <span class="loading__circle loading__circle--10"></span>
      <span class="loading__circle loading__circle--11"></span>
      <span class="loading__circle loading__circle--12"></span>
    </div>
  </div>

  <div class="modal__dialog modal__dialog--switching">
    <div class="loading">
      <span class="loading__circle loading__circle--1"></span>
      <span class="loading__circle loading__circle--2"></span>
      <span class="loading__circle loading__circle--3"></span>
      <span class="loading__circle loading__circle--4"></span>
      <span class="loading__circle loading__circle--5"></span>
      <span class="loading__circle loading__circle--6"></span>
      <span class="loading__circle loading__circle--7"></span>
      <span class="loading__circle loading__circle--8"></span>
      <span class="loading__circle loading__circle--9"></span>
      <span class="loading__circle loading__circle--10"></span>
      <span class="loading__circle loading__circle--11"></span>
      <span class="loading__circle loading__circle--12"></span>
    </div>
  </div>

  <div class="modal__dialog modal__dialog--message">
    <p class="message"></p>
  </div>

  <!-- 自定义关闭按钮 -->
  <a href="#close" class="btn close" data-trigger="close">close</a>
</div>
